<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Products</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Productos</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#"
              >Boleta <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/agregateProduct">Agregar Producto</a>
          </li>
        </ul>
      </div>
    </nav>

    <br>

    <div class="container text-center">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Precio</th>
            <th scope="col">Categoria</th>
            <th scope="col">Stock</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="product : ${listProducts}">
            <td th:text="${product.productId}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.category}"></td>
            <td th:text="${product.stock}"></td>
            <td th:text="${product.description}"></td>
            <td>
              <a
                class="btn btn-primary"
                th:href="@{/edit/{id}(id=${product.productId})}"
                >Edit</a
              >
              &nbsp;
              <a
                class="btn btn-danger"
                th:href="@{/delete/{id}(id=${product.productId})}"
                >Delete</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
